include AUTHORS.rst
include CONTRIBUTING.rst
include CHANGELOG.rst
include COPYING
include COPYING.LESSER
include README.rst
include LICENSE-THIRD-PARTY.yml
include pyproject.toml Cargo.toml

recursive-include src *
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat
